/* Light mode varsayılan renkler */
:root {
  --background-color: #ffffff; /* Light Mode */
  --text-color: #000000;
}

/* Dark mode renkler */
[data-theme="dark"] {
  --background-color: #1e1e1e; /* Dark Mode */
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Diğer stil özellikleri... */
